force-app/main/default/flows/Create_Food_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assignment_1</name>
        <label>Assignment 1</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>FileCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ContentDocIDs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FoodVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Food_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>descriptionVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>priceVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Price</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Were_files_uploaded</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Content_Document_Link</name>
        <label>Create Content Document Link</label>
        <locationX>308</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>singleContentDocLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Files</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleContentDocLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_a_Food</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentLinkCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleContentDocLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Files</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Were_files_uploaded</name>
        <label>Were files uploaded?</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FileCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Create_New_Food</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FileCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Food</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CuisineType4</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Cuisine_Type__c</picklistField>
        <picklistObject>Food__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultiPicklistDietry</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Dietary__c</picklistField>
        <picklistObject>Food__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SpiceLevel</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Spice_Level__c</picklistField>
        <picklistObject>Food__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Create Food Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Food Record</label>
    <loops>
        <name>Loop_through_Files</name>
        <label>Loop through Files</label>
        <locationX>220</locationX>
        <locationY>566</locationY>
        <collectionReference>ContentDocIDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Content_Document_Link</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Content_Document_Links</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_a_Food</name>
        <label>Create a Food</label>
        <locationX>220</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Loop_through_Files</targetReference>
        </connector>
        <inputAssignments>
            <field>Available__c</field>
            <value>
                <elementReference>Available</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Chef__c</field>
            <value>
                <elementReference>Chef.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cuisine_Type__c</field>
            <value>
                <elementReference>Cuisine_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dietary__c</field>
            <value>
                <elementReference>Dietary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Food_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preparation_Time__c</field>
            <value>
                <elementReference>Preparation_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price__c</field>
            <value>
                <elementReference>Price</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Servings__c</field>
            <value>
                <elementReference>Servings</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Spice_Level__c</field>
            <value>
                <elementReference>Spice_Level</elementReference>
            </value>
        </inputAssignments>
        <object>Food__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Content_Document_Links</name>
        <label>Create Content Document Links</label>
        <locationX>220</locationX>
        <locationY>866</locationY>
        <inputReference>ContentDocumentLinkCollection</inputReference>
    </recordCreates>
    <screens>
        <name>Create_New_Food</name>
        <label>Create New Food</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment_1</targetReference>
        </connector>
        <fields>
            <name>Food_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>FoodVar</elementReference>
            </defaultValue>
            <fieldText>Food Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <defaultValue>
                <stringValue>{!descriptionVar}</stringValue>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Preparation_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Preparation Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Servings</name>
            <dataType>Number</dataType>
            <fieldText>Servings</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Cuisine_Type</name>
            <choiceReferences>CuisineType4</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cuisine Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Dietary</name>
            <choiceReferences>MultiPicklistDietry</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Dietary</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Price</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>priceVar</elementReference>
            </defaultValue>
            <fieldText>Price</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Chef</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Chef__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Chef</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Food__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Available</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Available</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Spice_Level</name>
            <choiceReferences>SpiceLevel</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Spice Level</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>fileUploadRequired</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(247, 6, 34);&quot;&gt;Please upload a file.&lt;/strong&gt;&lt;strong style=&quot;color: rgb(253, 41, 41);&quot;&gt;﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>FileCount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>UploadFile</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload File</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Create_a_Food</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg , .jpeg</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ContentDocIDs</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Create</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_New_Food</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContentDocIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContentDocumentLinkCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>descriptionVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FileCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>FoodVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>priceVar</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>singleContentDocLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>subjectVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
