force-app/main/default/flows/Email_Notifications_for_Payment_Status_Successful_Failed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_for_Failed_Order_Payment</name>
        <label>Send Email for Failed Order Payment</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>CustomerH__c.Failed_Payment_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.CustomerH__r.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CustomerH__c.Failed_Payment_Email_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_for_Successful_Order_Payment</name>
        <label>Send Email for Successful Order Payment</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>CustomerH__c.Successful_Payment_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.CustomerH__r.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CustomerH__c.Successful_Payment_Email_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Is_Payment_Success_Failed</name>
        <label>Is Payment Success / Failed</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_for_Successful_Order_Payment</targetReference>
            </connector>
            <label>Successful</label>
        </rules>
        <rules>
            <name>Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payment Failed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_for_Failed_Order_Payment</targetReference>
            </connector>
            <label>Failed</label>
        </rules>
    </decisions>
    <description>Sending email notifications to users so that they are informed about the status of their payment transactions.</description>
    <environments>Default</environments>
    <interviewLabel>Email Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Notifications for Payment Status (Successful/Failed)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Payment_Success_Failed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Payment_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>OrderH__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
